<%= content_for :head do %>
  <%= stylesheet_link_tag 'signup.css' %>
  <% end %>

<div id="main">
<div class="headMessage">
        <span class="contactUs">
        <h5>Questions?</h5>
        <a href="/about/feedback_form" class="feedbackBox cboxElement">Send us an email</a>
        </span>

  <h1 class="arial">Create your free account
    <span class="oops"><a href="/broker/choose-plan" class=" ">Landlords, Brokers &amp; Agents: Sign Up Here</a></span>
  </h1>

  <h2 class="arial">Tell us a bit about yourself, and what you're looking for. </h2>
</div>

<div id="leftCol">


<form method="post" id="new_renter" class="new_renter" action="/renter/create-profile">
<fieldset class="main noBorder">
  <h2 class=" ">Personal Information</h2>


  <div class="rowLine" id="name">
    <label for="user_first_name">First Name</label>
    <input type="text" size="25" name="user[first_name]" id="user_first_name" class="text idleField">

    <div class="clear"></div>
  </div>

  <div class="rowLine">
    <label for="user_last_name">Last Name</label>
    <input type="text" size="25" name="user[last_name]" id="user_last_name" class="text idleField">

    <div class="clear"></div>
  </div>

  <div class="rowLine" id="email">
				    <span style="display:none" class="help">
				     <strong>Your email is private.</strong> <br>You decide whom to share it with.
				    </span>

    <label for="user_email">Email</label>
    <input type="text" size="25" name="user[email]" id="user_email" class="text idleField">

    <div class="clear"></div>
  </div>


  <div class="rowLine">
    <label for="user_email_confirmation">Confirm Email</label>
    <input type="text" size="25" name="user[email_confirmation]" id="user_email_confirmation" class="text idleField">

    <div class="clear"></div>
  </div>

  <div class="clear"></div>


  <div class="rowLine" id="phone">
				 <span style="display:none" class="help">
				   <strong>Your phone number is private</strong> <br>You decide whom to share it with.
				 </span>
    <label for="user_phone_number">Phone Number</label>
    <input type="text" size="3" name="user[phone_area]" maxlength="3" id="user_phone_area" class="text idleField">
    <input type="text" size="3" name="user[phone_prefix]" maxlength="3" id="user_phone_prefix" class="text idleField">
    <input type="text" size="4" name="user[phone_sufix]" maxlength="4" id="user_phone_sufix" class="text idleField">

  </div>

</fieldset>

<fieldset class="main">
  <h2 class=" ">Choose a password <span class="message inline">(Min. 4 characters)</span></h2>

  <div class="rowLine">
    <label for="user_enter_a_password">Enter a password</label>
    <input type="password" size="20" name="user[password]" id="user_password" class="text idleField">

    <div class="clear"></div>
  </div>

  <div class="rowLine">
    <label for="user_password_confirmation">Confirm Password</label>
    <input type="password" size="20" name="user[password_confirmation]" id="user_password_confirmation" class="text idleField">

    <div class="clear"></div>
  </div>

</fieldset>


<fieldset class="main">
  <h2 class=" ">What kind of apartment are you looking for?</h2>

  <!--RENT  -->
  <div class="rowLine">
    <label>Maximum Rent</label>
    <input type="text" size="10" name="renter[maximum_rent]" id="renter_maximum_rent" default="$" class="text idleField">

    <div class="clear"></div>
  </div>

  <!--  APT SIZE  -->
  <div class="rowLine">
    <label>Размер квартиры <br><span class="message inline">(выберить все подходящие)</span></label>

    <div id="selectApartmentSize" class="rowFixed">

      <div class="checkboxContSm bg clearfix">
        <input type="checkbox" value="1" name="renter[apartment_size_ids][]" id="renter_apartment_size_ids_">
        Studio
      </div>

      <div class="checkboxContSm bg clearfix">
        <input type="checkbox" value="2" name="renter[apartment_size_ids][]" id="renter_apartment_size_ids_">
        Loft
      </div>

      <div class="checkboxContSm bg clearfix">
        <input type="checkbox" value="3" name="renter[apartment_size_ids][]" id="renter_apartment_size_ids_">
        1br
      </div>

      <div class="checkboxContSm bg clearfix">
        <input type="checkbox" value="4" name="renter[apartment_size_ids][]" id="renter_apartment_size_ids_">
        2br
      </div>

      <div class="checkboxContSm bg clearfix">
        <input type="checkbox" value="5" name="renter[apartment_size_ids][]" id="renter_apartment_size_ids_">
        3br
      </div>

      <div class="checkboxContSm bg clearfix">
        <input type="checkbox" value="6" name="renter[apartment_size_ids][]" id="renter_apartment_size_ids_">
        4br
      </div>

      <div class="checkboxContSm bg clearfix">
        <input type="checkbox" value="7" name="renter[apartment_size_ids][]" id="renter_apartment_size_ids_">
        5br
      </div>

      <div class="checkboxContSm bg clearfix">
        <input type="checkbox" value="8" name="renter[apartment_size_ids][]" id="renter_apartment_size_ids_">
        6br
      </div>

      <div class="checkboxContSm bg clearfix">
        <input type="checkbox" value="9" name="renter[apartment_size_ids][]" id="renter_apartment_size_ids_">
        7br
      </div>

      <div class="checkboxContSm bg clearfix">
        <input type="checkbox" value="10" name="renter[apartment_size_ids][]" id="renter_apartment_size_ids_">
        8br
      </div>

    </div>
    <div class="clear"></div>

  </div>

  <div class="clear"></div>
  <div class="rowLine">
    <label>Where are you looking? <br><span class="message inline">(Choose up to 10 'hoods)</span> </label>

    <div class="clear"></div>


  </div>

</fieldset>



<fieldset class="main">
  <h2>Terms of Service</h2>

  <div class="row">
    <span class="checkboxContWide">
      <input type="checkbox" class="field text" value="1" name="terms_confirmation" id="agreeToTerms">
      <label for="terms">
        I agree to
        Naked Apartments
        <a data-height="400" data-width="450" class="ajaxModal cboxElement" href="/ajax/renter_terms_of_service">Terms
          of Service</a>.
      </label>
    </span>
  </div>
</fieldset>


<div class="formActions">
  <div class="buttonContainer">
    <a id="renterSignupSelfReport" class="button  submitButton large" href="#"><span>Create Profile</span></a>
  </div>
  <div class="clear"></div>
  <a class="cancel" href="/">cancel</a>
</div>

</form>

</div>

<!--right column-->
<div id="rightCol">
  <div class="shadowOuterWhite">
    <div class="shadowInnerWhite">

      <div class="testimonialNew first marginBottom20">
        <div class="quote">
          It's better than Craigslist. Better apartments, better search.
        </div>
        <div class="attribution">Brittany</div>
      </div>


      <div class="testimonialNew marginBottom20">
        <div class="quote">Naked Apartments did an amazing job helping me find a new apartment!</div>
        <div class="attribution">Sarah</div>
      </div>

      <div class="testimonialNew marginBottom20">
        <div class="quote">Naked Apartments is the only reason why I have an awesome one-bedroom in Murray Hill for the
          price of a studio.
        </div>
        <div class="attribution">Stephanie</div>
      </div>

      <div class="testimonialNew marginBottom20">
        <div class="quote">Unlike online classifieds, Naked Apartments doesn't tolerate spam or scams.</div>
        <div class="attribution">Mark</div>
      </div>


      <div class="clear"></div>

      <div class="sideMod">
        <h2>Your information is secure</h2>

        <p class="calm">Your information will be kept anonymous until you explicitly decide to release it to a broker of
          your choice.</p>

        <p class="calm">Additionally, we use a <em>secure encryption</em> process to protect all of your sensitive
          information.</p>
      </div>


    </div>
  </div>
</div>
<div class="clear"></div>
</div>


<%= render :partial => 'shared/errors', :locals => {:target => @user} %>

<%= form_for @user do |f| -%>

    <div class="field">
      <%= f.label "логин" %><%= f.text_field :login %>
    </div>
    <div class="field">
      <%= f.label "почтовый ящик" %><%= f.text_field :email %>
    </div>
    <div class="radio">
      <%= f.label "пол" %>пацанчик<%= f.radio_button :sex, 1, :checked => true %>
      деваха<%= f.radio_button :sex, 0 %>
    </div>
    <div class="field">
      <%= f.label "пароль" %><%= f.password_field :password %>
    </div>
    <div class="field">
      <%= f.label "еще разок пароль" %><%= f.password_field :password_confirmation %>
    </div>
    <%= f.submit t(:register), :class => "button", :id => "submitup", :disable_with => t(:please_wait) %>
    <!--<a class="button" href="#submit">Sign up</a>-->
<% end %>