<%= content_for :head do %>
  <%= stylesheet_link_tag 'signup.css' %>
  <% end %>

<div id="main">
<div class="headMessage">
        <span class="contactUs">
        <h5>Есть вопросы?</h5>
        <a href="/about/feedback_form" class="feedbackBox cboxElement">Пожалуйста, напишите нам!</a>
        </span>

  <h1 class="arial">Создайте ваш бесплатный аккаунт
    <!--<span class="oops"><a href="/broker/choose-plan" class=" ">Landlords, Brokers &amp; Agents: Sign Up Here</a></span>-->
  </h1>

  <h2 class="arial">Раскажие нам немного о себе, и о том что вы ищете. </h2>
</div>

<div id="leftCol">

<%= render :partial => 'shared/errors', :locals => {:target => @user} %>
<%= form_for @user do |f| -%>
<!--<form method="post" id="new_renter" class="new_renter" action="/renter/create-profile"> -->
<fieldset class="main noBorder">
  <h2 class=" ">Личные данные</h2>

  <div class="rowLine" id="login">
    <%= f.label "Логин" %>
    <%= f.text_field :login %>
    <div class="clear"></div>
  </div>

  <div class="rowLine" id="email">
				    <span style="display:none" class="help">
				     <strong>Ваш email скрыт.</strong> <br>Вы сами решаете с кем им поделиться.
				    </span>
    
    <%= f.label :email %>
    <%= f.text_field :email, :class => "text idleField" %>

    <div class="clear"></div>
  </div>

  <div class="rowLine" id="gender">
    <%= f.label "Пол" %>
    <div>мужчина<%= f.radio_button :sex, 1, :checked => true %></div>
    
    <div>женщина<%= f.radio_button :sex, 0 %></div>
  </div>


  <div class="clear"></div>

</fieldset>

<fieldset class="main">
  <h2 class=" ">Укажите пароль <span class="message inline">(минимально. 4 символа)</span></h2>

  <div class="rowLine">
    <%= f.label "Укажите пароль" %>
    <%= f.password_field :password, :class=>"text idleField"  %>
    <div class="clear"></div>
  </div>

  <div class="rowLine">
    <%= f.label "Подтвердите пароль" %>
    <%= f.password_field :password_confirmation, :class=> "text idleField" %>

    <div class="clear"></div>
  </div>

</fieldset>






<!--<fieldset class="main">
  <h2>Terms of Service</h2>

  <div class="row">
    <span class="checkboxContWide">
      <input type="checkbox" class="field text" value="1" name="terms_confirmation" id="agreeToTerms">
      <label for="terms">
        I agree to
        Naked Apartments
        <a data-height="400" data-width="450" class="ajaxModal cboxElement" href="/ajax/renter_terms_of_service">Terms
          of Service</a>.
      </label>
    </span>
  </div>
</fieldset>  -->


<div class="formActions">
  <div class="buttonContainer">
    <a id="renterSignupSelfReport" class="button  submitButton large" href="#"><span>СОЗДАТЬ АККАУНТ</span></a>
  </div>
  <div class="clear"></div>
  <a class="cancel" href="/">отмена</a>
</div>

<% end %>

</div>

<!--right column-->
<div id="rightCol">
  <div class="shadowOuterWhite">
    <div class="shadowInnerWhite">

      <div class="testimonialNew first marginBottom20">
        <div class="quote">
          Это лучше чем Aviso. Поиск лучше, удобная карта.
        </div>
        <div class="attribution">Вера</div>
      </div>


      <div class="testimonialNew marginBottom20">
        <div class="quote">comilffo помогли мне найти квартиру!</div>
        <div class="attribution">Лида</div>
      </div>

      <div class="testimonialNew marginBottom20">
        <div class="quote"> я сняла 1к квартиру на Оболони и нашла её на Comilffo.com
        </div>
        <div class="attribution">Ира</div>
      </div>

      <div class="testimonialNew marginBottom20">
        <div class="quote">В отличии от других, похожих сайтов, на comilfo нет спама в сообщениях.</div>
        <div class="attribution">Миша</div>
      </div>


      <div class="clear"></div>

      <div class="sideMod">
        <h2>Ваша информация защищена</h2>

        <p class="calm">Ваши данные будут скрыты до тех пор пока вы сами не решите передать её брокеру.</p>

        <p class="calm">И кстати, мы испльзуем <em>шифрование</em> что бы защитить ваши личные данные</p>
      </div>


    </div>
  </div>
</div>
<div class="clear"></div>
</div>
