<html class=" gecko mac js native-css-gradients" xmlns:fb="http://www.facebook.com/2008/fbml">
<head xmlns:fb="http://www.facebook.com/2008/fbml" xmlns="http://www.w3.org/1999/xhtml">
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>Пандора - проект "Живая база недвижимости" Киев.</title>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

  <%= stylesheet_link_tag 'reset.css' %>
  <%= javascript_include_tag 'jquery.js', 'rails.js', 'application.js', 'applesearch.js', 'jcookie.js'%>
  <%= javascript_include_tag 'form', 'jquery.remotipart' %>

  <%= yield :head %>
  <%= csrf_meta_tag %>

</head>
<body>
<body id="flow">
	<div id="slab-wrapper">
		<h1>
			<strong>Регистрация</strong>&nbsp;&mdash; это Просто.
		</h1>
		<p class="signin">
			уже с нами?
			<a id="nav_sign_in" href="/signin">войти</a>
		</p>
		<div id="slab">
          <%= render :partial => 'shared/errors', :locals => {:target => @user} %>

          <%= form_for @user do |f| -%>

                  <div class="field">
                    <%= f.label "логин" %><%= f.text_field :login %>
                  </div> 
                  <div class="field">
                    <%= f.label "почтовый ящик" %><%= f.text_field :email %>
                  </div>
                  <div class="radio">
                    <%= f.label "пол" %>пацанчик<%= f.radio_button :sex, 1, :checked => true %>
                                         деваха<%= f.radio_button :sex, 0 %>
                  </div>  
                  <div class="field">
                    <%= f.label "пароль" %><%= f.password_field :password %>
                  </div> 
                  <div class="field">
                    <%= f.label "еще разок пароль" %><%= f.password_field :password_confirmation %>
                  </div>
                <%= f.submit t(:register), :class => "button", :id => "submitup", :disable_with => t(:please_wait) %>
                <!--<a class="button" href="#submit">Sign up</a>-->
          <% end %>

        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
  <div id="signup-footer"></div>

    <div class="modal_background" style="width: 100%; height: 100%;"></div>
    <div id="modal1" class="modal window" style="top: 43.125px; left: 355.5px;">
      <div id="login" class="wrapper">
        <div class="title">
            <h1>Log in</h1>
        </div>
        <%= form_for(UserSession.new) do |f| %>
          <div id="form">
            <fieldset>
              <label><%= f.label t(:user_login) %></label>
                <div><%= f.text_field :login %></div>
            </fieldset>
            <fieldset>
              <label><%= f.label t(:password) %></label>
                <div><%= f.password_field :password %></div>
            </fieldset>
            <fieldset>
                <label></label>
                <div class="forgot">
                    <a href="#">не помним пароль?</a>
                </div>
            </fieldset>
          </div>
          <div class="submit">
            <%= f.submit t(:login), :class=> :button, :disable_with => t(:please_wait) %>
            <%= link_to t(:register), register_path, :class => "signup" %>
            <a href="#cancel" class="cancel">Cancel</a>
          </div>
            <!--<fieldset>-->
                <%#= f.label t(:remember_me) %> <%#= f.check_box :remember_me %>
            <!--</fieldset>-->
        <% end %>




      </div>
    </div>


  </div>
	</div>

</body>
</html>


<style>
body {    
		color: #838383;
    font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif;
}
#flow {
    background: none repeat scroll 0 0 #F5F5F5;
}
	#flow #slab-wrapper {
	    margin: 60px 27%;
	    width: 640px;
	}
	
		#flow #slab-wrapper h1 {
		    color: #838383;
		    float: left;
		    font-size: 26px;
		    letter-spacing: -1px;
		    padding-bottom: 25px;
		    font-weight: normal;
		}
			#flow #slab-wrapper h1 strong {
		    color: #202020;
		    font-weight: normal;
			}
		
		#flow #slab-wrapper .signin {
    	float: right;
    	padding-top: 5px;
		}
		
		#flow #slab-wrapper #slab {
	    background: url("/images/rainbow-sm.gif") repeat-x scroll left top white;
	    box-shadow: 0 2px 5px 0 #DDDDDD;
	    clear: both;
	    margin-bottom: 10px;
	    overflow: hidden;
	    padding: 40px 0 15px 35px;
		}
			#flow #slab-wrapper #slab form {
	    	margin: 0 0 10px;
	    	padding: 0 0 10px;
			}
			.common-form {
		    background: none repeat scroll 0 0 white;
		    border-bottom-left-radius: 5px;
		    border-bottom-right-radius: 5px;
		    margin-bottom: 20px;
		    overflow: hidden;
			}	
			#flow #slab-wrapper #slab form .field {
    		padding-bottom: 40px;
			}	
			#flow #slab-wrapper #slab form label {
    		margin-left: 5px;
    		padding-bottom: 4px;
			}
#flow #slab-wrapper #slab form LABEL {
	display: block;
  font-weight: bold;
}
#flow #slab-wrapper #slab FORM INPUT {
    color: #202020;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 30px;
    margin-bottom: 10px;
    margin-left: 5px;
    width: 300px;
}

INPUT{
    -moz-transition-duration: 0.1s;
    -moz-transition-property: border-color;
    -moz-transition-timing-function: linear;
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #B3B3B3;
    border-radius: 3px 3px 3px 3px;
    font: 13px/18px "Helvetica Neue",Arial,sans-serif;
    height: 18px;
    outline: medium none;
    padding: 5px 9px;
    vertical-align: bottom;
}
#flow #slab-wrapper #slab form #submitup {
    border: 1px solid #FF920D;
    border-radius: 15px 15px 15px 15px;
    font-size: 13px;
    margin: 5px 0 0 5px;
    width: 100px;
}	
.borderradius submitup {
    border: 1px solid #FF920D;
    border-radius: 20px 20px 20px 20px;
    font-size: 13px;
}	
#submitup {  
    -moz-transition-duration: 0.2s;
    -moz-transition-property: box-shadow;
    -moz-transition-timing-function: linear;
    background: -moz-linear-gradient(center top , #FFC039 0%, #FF920D 100%) repeat scroll 0 0 #FF920D;
    border: medium none;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1);
    color: #FFFFFF;
    cursor: pointer;
    display: block;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold !important;
    height: 31px;
    line-height: 18px;
    padding: 4px 17px 6px;
    text-align: center;
    text-shadow: 0 -1px 0 #DE6E00;
}
</style>










