

<div id="search-results" class="search-results">
  <div class='pagination'>
    <%= render :partial => 'paging' %>
  </div>

  <table id="estates_table">
    <tbody>
      <tr>
        <th></th>
        <th id="room_sorter"><a href="#">комнат</a><a href="#"></a></th>
        <th id="adress_sorter">месторасположение</th>
        <th id="floor_sorter"><a href="#">этаж</a><a href="#"><span class="ico downn"></span></a></th>
        <th id="cost_sorter"><a href="#">цена</a><a href="#"><span class="ico downn"></span></a></th>
        <th>описание: &nbsp;<a class="green description-extra-button" href="#">развернуто</a></th>
        <th></th>
      </tr>

      <!-- loop starts -->
         <% @rents.each do |item|  %>

        <tr estate_id="<%= item.id %>" class="estate-row" id="estate_<%= item.id %>">
          <td class="chk">
            <span class="ob-addfav">
              <a class="" href="#"><div></div></a>
            </span>
          </td>
          <td class="rooms"><%= item.rooms %></td>
          <td class="station"><%= item.adress %></td>
          <td class="floor"><%= item.floor_at %><%= "/#{item.floors}" if !(item.floors.blank?)%></td>
          <td class="price"><%= item.price %></td>

          <td class="desc">
            <% img_amount = item.img_amount %>
            <% if img_amount > 0 %>
              <span class='with_photo_link'><%=img_amount%>&nbsp;фото</span>&nbsp;
            <% end %>  
            <!--<strong>
              <a class="estate-display-name" href="/users/33008">mvs</a>
            </strong> -->
            <% description = item.info %>
            <a target="_blank" class="estate-link" href="/rents/<%= item.id %>">
              <%= description[0..130] if !(description.blank?) && description.length > 100 %>
              <span class="description-extra hide">
                <%= description[131..(description.length-1)]  if description.is_a?(String) && description.length > 131%>
              </span>
            </a>
            <!--<a target="_blank" class="green" href="/estate/<%#= item.id %>">открыть в новом окне<i class="ico new-win"></i></a>-->
            <%= link_to 'открыть в новом окне', rent_path(item), html_options = { :class => "green", :target => "_blank" } %>
          </td>
          <td class="contacts">
            <%= item.phones.split(",")[0] if !(item.phones.blank?) %>
          </td>
      </tr>
      
    <% end %>
      <!-- loop ends -->
    </tbody>
  </table>
</div>

