<div class="curve" id="footerWrapper">
    <div id="footer">

      <a title="<%= t(:footer_about_us) %>" href="/about"><%= t(:footer_about_us) %></a>
      <a title="<%= t(:rentert_popular_searches) %>" href="/nyc/popular-searches"><%= t(:rentert_popular_searches) %></a>
      <a title="<%= t(:faq) %>" href="/about/faq"><%= t(:faq) %></a>
      <a title="Privacy Policy" href="/about/privacy-policy"><%= t(:policy) %></a>
      <a title="Terms and Conditions" href="/about/terms-and-conditions" class=" "><%= t(:term_conditions) %></a>
      <a rel="nofollow" href="/about/feedback_form" class="btnHtml feedbackBox cboxElement"><%= t(:contact_us) %></a>

    </div>

  </div>