
<div id="adminBar">
  <% if @current_user %>
      <ul class="curveBottom clearfix">
        <li id="inviteFriends"><a class="infoModal cboxElement" href="#inviteFriendsModal"><%= t(:share) %></a></li>
        <li class="view"><a href="/renter/profile" class="bold"><%= t(:profile) %></a></li>
        <li class="last">
          <%= link_to t(:logout), logout_path, :class => 'bold' %>
        </li>
      </ul>
  <% else %>
      <ul>
        <!--<li class="like first"><div id="fb-root" class=" fb_reset"><script async="" src="http://connect.facebook.net/en_US/all.js"></script><div style="position: absolute; top: -10000px; height: 0pt; width: 0pt;"><div><iframe scrolling="no" id="f3820c4e91b682" name="f2a12e0a29438e4" style="border: medium none; overflow: hidden; height: 240px; width: 575px;" class="FB_UI_Hidden" src="http://www.facebook.com/extern/login_status.php?api_key=149838751731831&amp;app_id=149838751731831&amp;channel_url=http%3A%2F%2Fstatic.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df1660d3a36f968a%26origin%3Dhttp%253A%252F%252Fwww.nakedapartments.com%252Ff90ac01594e37%26relation%3Dparent.parent%26transport%3Dpostmessage&amp;display=hidden&amp;extern=2&amp;locale=en_US&amp;next=http%3A%2F%2Fstatic.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df2fabd9f9eecb48%26origin%3Dhttp%253A%252F%252Fwww.nakedapartments.com%252Ff90ac01594e37%26relation%3Dparent%26transport%3Dpostmessage%26frame%3Df2b5ecad0d587f2%26result%3D%2522xxRESULTTOKENxx%2522&amp;no_session=http%3A%2F%2Fstatic.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df1762d05769d114%26origin%3Dhttp%253A%252F%252Fwww.nakedapartments.com%252Ff90ac01594e37%26relation%3Dparent%26transport%3Dpostmessage%26frame%3Df2b5ecad0d587f2&amp;no_user=http%3A%2F%2Fstatic.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df3a3525d6b1b7b%26origin%3Dhttp%253A%252F%252Fwww.nakedapartments.com%252Ff90ac01594e37%26relation%3Dparent%26transport%3Dpostmessage%26frame%3Df2b5ecad0d587f2&amp;ok_session=http%3A%2F%2Fstatic.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df18c8dcf18c5968%26origin%3Dhttp%253A%252F%252Fwww.nakedapartments.com%252Ff90ac01594e37%26relation%3Dparent%26transport%3Dpostmessage%26frame%3Df2b5ecad0d587f2&amp;sdk=joey&amp;session_origin=1&amp;session_version=3"></iframe></div></div></div><script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like font="arial" show_faces="false" width="50" layout="button_count" send="false" href="http://www.nakedapartments.com" class=" fb_edge_widget_with_comment fb_iframe_widget"><span><iframe scrolling="no" id="fc339d5565f754" name="f18090256a20156" style="border: medium none; overflow: hidden; height: 21px; width: 90px;" title="Like this content on Facebook." class="fb_ltr" src="http://www.facebook.com/plugins/like.php?channel_url=http%3A%2F%2Fstatic.ak.fbcdn.net%2Fconnect%2Fxd_proxy.php%3Fversion%3D3%23cb%3Df38e6c113b1c1f2%26origin%3Dhttp%253A%252F%252Fwww.nakedapartments.com%252Ff90ac01594e37%26relation%3Dparent.parent%26transport%3Dpostmessage&amp;font=arial&amp;href=http%3A%2F%2Fwww.nakedapartments.com&amp;layout=button_count&amp;locale=en_US&amp;node_type=link&amp;sdk=joey&amp;send=false&amp;show_faces=false&amp;width=90"></iframe></span></fb:like></li>-->
        <li><a href="/renter/listings/search"><%= t(:renter_search) %></a></li>
        <li class="login"><a class="login" href="/login"><%= t(:login) %></a></li>
        <li class="signup">
          <a class="signup" data-tagged-trac="sitewide-admin-bar|renter_signup" href="/renter/signup">
            <strong><%= t(:register) %></strong> <span class="small">(IT'S FREE!)</span>
          </a>
        </li>
      </ul>
  <% end %>
</div>

<div class="clear"></div>

<ul id="siteNav">
  <% if @current_user %>
      <li>
        <a title="<%= t(:renter_wall_description) %>" href="/renter"><%= t(:renter_wall) %></a>
      </li>
      <li>
        <a id="offerTab" title="<%= t(:renter_correspondence) %>" href="/renter/contacts" class=" "><%= t(:renter_correspondence) %></a>
      </li>
      <li>
        <a title="<%= t(:renter_reviews_description) %>" href="/renter/reviews" class=" "><%= t(:renter_reviews) %></a>
      </li>
      <li>
        <a href="http://www.nakedapartments.com/renter/listings/saved-searches" class=" "><%= t(:renter_saved_searches) %></a>
      </li>
      <li id="faves"><a href="http://www.nakedapartments.com/renter/favorites">&nbsp;</a></li>
      <li id="searchOpen" class="active">
        <a title="<%= t(:renter_search) %>" href="/renter/listings/search" class=" "><%= t(:renter_search) %></a>
      </li>
      <li id="deals">
        <a href="/renter/naked-solutions"><span class="title"><%= t(:comilffo) %></span><%= t(:solutions) %></a></li>
  <% else %>
      <li><a class="infoModal cboxElement" href="#overviewModalContainer"><%= t(:renter_wall) %></a></li>
      <li id="faves"><a class="infoModal cboxElement" href="#favoritesModalContainer">&nbsp;</a></li>
      <li><a class="infoModal cboxElement" href="#reviewsModalContainer"><%= t(:renter_reviews) %></a></li>
      <li><a class="infoModal cboxElement" href="#savedSearchesModalContainer"><%= t(:renter_saved_searches) %></a></li>
      <li class="active" id="searchOpen"><a href="/renter/listings/search" class=" "><%= t(:renter_search) %></a></li>
  <% end %>
</ul>