<ul id="siteNav">
    <% if @current_user %>
    <li>
      <a title="<%= t(:renter_wall_description) %>" href="/renter"><%= t(:renter_wall) %></a>
    </li>
    <li><a id="offerTab" title="<%= t(:renter_correspondence) %>" href="/renter/contacts" class=" "><%= t(:renter_correspondence) %></a></li>
    <li><a title="<%= t(:renter_reviews_description) %>" href="/renter/reviews" class=" "><%= t(:renter_reviews) %></a></li>
    <li><a href="http://www.nakedapartments.com/renter/listings/saved-searches" class=" "><%= t(:renter_saved_searches) %></a></li>
    <li id="faves"><a href="http://www.nakedapartments.com/renter/favorites">&nbsp;</a></li>
    <li id="searchOpen" class="active">
    <a title="<%= t(:renter_search) %>" href="/renter/listings/search" class=" "><%= t(:renter_search) %></a>
    </li>
    <li id="deals"><a href="/renter/naked-solutions"><span class="title"><%= t(:comilffo) %></span><%= t(:solutions) %></a></li>
    <% else %>
    <li><a class="infoModal cboxElement" href="#overviewModalContainer"><%= t(:renter_wall) %></a></li>
    <li id="faves"><a class="infoModal cboxElement" href="#favoritesModalContainer">&nbsp;</a></li>
    <li><a class="infoModal cboxElement" href="#reviewsModalContainer"><%= t(:renter_reviews) %></a></li>
    <li><a class="infoModal cboxElement" href="#savedSearchesModalContainer"><%= t(:renter_saved_searches) %></a></li>
    <li class="active" id="searchOpen"><a href="/renter/listings/search" class=" "><%= t(:renter_search) %></a></li>
    <% end %>
</ul>