<table id="listingSERPOuter">
  <tbody>
  <tr>
    <td colspan="2" class="head">

      <h1 class="estates_result_count">16445</h1>

      <h1><%= t(:object) %></h1>

      <div class="block">

      </div>


      <div class="resultsPagination">
        <%= render :partial => 'paging' %>
      </div>
      <div class="clear"></div>
    </td>
  </tr>

  <tr>
    <!-- cell containing listings table-->
    <td>
      <!-- table containing listings -->
      <table cellspacing="0" cellpadding="0" border="0" class="newStyle" id="listingSERPTable">
        <thead>
        <tr>
          <th colspan="2">
            <span class="small"><%= t(:sort_by) %></span>
            <ul>
              <li>
                <a href="/renter/listings/search?page=1&amp;sort=listing_date&amp;order=desc" class="bold"> <%= t(:time_on_site) %> </a>
              </li>
              <li>
                <a href="/renter/listings/search?page=1&amp;sort=quality&amp;order=desc" class="bold"> <%= t(:quality) %>
                  <span title="<%= t(:explain_quality) %>" class="tooltip grey mouseover">?</span></a>
              </li>
              <!--<li><a href="/renter/listings/search?page=1&amp;sort=neighborhood&amp;order=asc"> Neighborhood </a></li>-->
              <li><a href="/renter/listings/search?page=1&amp;sort=size&amp;order=asc"> <%= t(:by_rooms) %> </a></li>
              <li><a href="/renter/listings/search?page=1&amp;sort=rent&amp;order=asc"> <%= t(:by_price) %> </a></li>
            </ul>
          </th>
        </tr>
        </thead>

        <tbody>
        <%= render :partial => 'search_item' %>

        </tbody>
      </table>


      <!-- end of table containing listings  -->
    </td>
    <!-- cell containing map -->
    <td>

      <div id="listingsMap" style="width: 450px; height: 400px; z-index: 1; margin-top: 0px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden;"></div>
    </td>
  </tr>
  </tbody>
</table>

<div class="resultsPagination">
  <%= render :partial => 'paging' %>
</div>

<div class="clear"></div>