<table id="listingSERPOuter">
  <tbody>
  <tr>
    <td colspan="2" class="head">

      <% unless @body_id == 'favorites'  %>
      <h1 class="estates_result_count"><%= @amount if @amount > 0%></h1>

      <h1><%= search_amount @amount  %></h1>
      <% end  %>

      <div class="block">

      </div>


      <div class="resultsPagination">
        <%= render :partial => 'paging' unless @body_id == 'favorites' %>
      </div>
      <div class="clear"></div>
    </td>
  </tr>

  <tr>
    <!-- cell containing listings table-->
    <td>
      <!-- table containing listings -->
      <table cellspacing="0" cellpadding="0" border="0" class="newStyle" id="listingSERPTable">
        <thead>
        <tr>
          <th colspan="2" id="sortable">
            <span class="small"><%= t(:sort_by) %></span>
            <ul>
              <li>
                <a href="#" class="bold" data-sort="updated_at"> 
					<%= t(:time_on_site) %>
					<%= image_tag "/images/icons/sort_arrow_up.gif" if @sort == 'updated_at'%>
				</a>
              </li>
              <li>
				<a href="#" data-sort="rooms"> <%= t(:by_rooms) %> 
					<%= image_tag "/images/icons/sort_arrow_up.gif" if @sort == 'rooms'%>
				</a></li>
              <li>
				<a href="#" data-sort="price"> 
					<%= t(:by_price) %>
					<%= image_tag "/images/icons/sort_arrow_up.gif" if @sort == 'price'%>
				</a></li>
            </ul>
          </th>
        </tr>
        </thead>

        <tbody>
        <%= render :partial => 'search_item' %>

        </tbody>
      </table>


      <!-- end of table containing listings  -->
    </td>
    <!-- cell containing map -->
    <td>

      <div id="listingsMap" style="width: 450px; height: 400px; z-index: 1; margin-top: 0px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden;"></div>
    </td>
  </tr>
  </tbody>
</table>

<div class="resultsPagination">
  <%= render :partial => 'paging' unless @body_id == 'favorites' %>
</div>

<div class="clear"></div>
