<% @rents.each do |item| %>
    <tr data-longitude="<%= item.longitude %>" data-latitude="<%= item.latitude %>" data-id="<%= item %>" class="listingRow" id="listing_383659_row1">
      <td class="border thumbnail">

        <!--<a href="http://www.nakedapartments.com/rental/383659" class=" ">-->
        <%= link_to item do %>
          <!--<img src="http://s3.amazonaws.com/nakedapartments/images/4505761/thumb.jpg?1309203580" alt="Thumb">-->
          <% if item.rentphotos.blank?  %>
            <%= image_tag '/images/no_available.png' %>
          <% else %>
            <%= image_tag item.rentphotos[0].photo.url(:thumb) %>
          <% end %>
        <% end %>
      </td>

      <td class="border flag">

        <span class="listingTitle">
          <%= link_to item do %>
            <%= item.rooms %>к, <%= item.adress %> <%= item.price %> грн
          <% end %>
        </span>

        <div class="newCell listingDate">
        <% if Date.today == item.date %>
          <%= t('renter.todays_object') %>
        <% else %>  
          <%=(Date.today - item.date).to_i %> <%= t(:days) %>
          <span class="calm"><%= t(:onsite) %></span>
        <% end %>
        </div>


        <div class="newCell brokerCont">

          <a href="#userpath"><%= item.name %></a>

          <span class="noRating"><span><%= t(:rent_not_yet_rated) %></span></span>
        </div>


        <div data-id="<%= item %>" class="">
          <div class="newCell amenities">

            <!--Doorman, Elevator, Laundry Room, Pets Allowed-->
            <%= item.info %>

          </div>
        </div>


        <div class="hidden mapMarkerHtml">
          <div class="center">
            <img alt="" src="http://s3.amazonaws.com/nakedapartments/images/4505761/thumb.jpg?1309203580">
            <br>
            <%= link_to item do %>
                <%= item.rooms %>к, <%= item.adress %> <%= item.price %> грн
            <% end %>
          </div>
        </div>

      </td>
    </tr>

<% end %>
