  <span class="paging" data-pages="<%= @pages %>">
    <% current_page = @page %>
	<% filter = @pagified_filter.blank? ? "" : @pagified_filter %>

    <% if @pages == 1 || @pages == 0 %>
        <em>1&nbsp;страница</em>
    <% elsif @pages < 10 && @pages > 1 %>
        <% i = 0 %>
      <% while  i < @pages do  %>
        <% if i == current_page  %>
            <em><%= i %></em>
        <% else %>
            <a href="/estate?index.js?pages=<%= i %><%= filter %>"><%= i %></a>
        <% end %>
        <% i =+ 1 %>
      <% end %>

    <% else %>
      <% start_range = current_page <= 5 ? 1 : (current_page >= @pages ? (current_page - 11) : current_page - 5) %>
      <% end_range = current_page <= 5 ? 10 : (current_page >= (@pages -4) ? @pages : (current_page + 5)) %>

      <a class="page_first" title="first" href="/estate/index.js?page=1<%= filter %>">←</a>
      <% (start_range..end_range).each do |i| %>
        <% if i == current_page  %>
            <em><%= i %></em>

        <% else %>
            <a href="/estate/index.js?page=<%= i %><%= filter %>"><%= i %></a>

        <% end %>

      <% end %>

      <a class="page_last" title="Последняя страница" href="/estate/index.js?page=<%= @pages %><%= filter %>">→</a>

    <% end %>
  </span>