<div id="form" class="standard pad">
  <h1>Напишите нам о чем захотите</h1>
  <p class="noMargin">А также гляньть в <a href="/about/faq">Помошь/FAQ.</a></p>

  <p id="apartmentNote" class="note hidden">
    For all questions about specific apartments, please use the "Contact Now" button on the apartment pages.
  </p>

  <%= form_for @feedback, :url => {:action => "feedback_submit"}, :html => {:id => 'feedbackForm', :class => "standard pad" } do |f| %>
    <div class="padTop15">
    
    <div class="row">
      <%= f.label "Имя" %>
      <%= f.text_field :name %>
    </div>
    <div class="row">
      <%= f.label "E-mail" %>
      <%= f.text_field :email %>    
    </div>
    <div class="row">
      <%= f.label "Комментарий" %>
      <%= f.text_area :comment %>
    </div>
    <div class="clear" />
    <span class="btnGreen white submitButton">
      <a href="#"><%= t(:submit) %></a>
    </span>
    <div class="clear" />


  <% end %>
</div>
