<div class="clearfix" id="blueBox">
	<span class="admin">
      <%= t(:do_not_have_account) %>
      <%= link_to t(:register), register_path, :"data'-tagged-trac" => "login|renter_signup" %>
    </span>
  <h1><%= t(:enter) %></h1>



		  <div class="block bgBlue curve clearfix">
		  <!--<form method="post" id="new_user_session" class="new_user_session" action="/user_session">-->
          <%= form_for @session do |f| %>
                <!--%input{:type => :hidden, :name => :authentication_type, :value => :user}-->
            <%= hidden_field 'authentication_type', 'sdfdf'  %>
		    <div class="row">
		      <%= f.label t(:user_login) %>
		      <!--<input type="text" size="25" name="user_session[email]" id="username" class="text idleField">-->
              <%= f.text_field :login, :size => '25' %>
		    </div>

		    <div class="row">
		      <%= f.label t(:password) %>
		      <!--<input type="password" size="25" name="user_session[password]" id="password" class="text idleField">-->
              <%= f.password_field :password, :size => '25' %>
		    </div>

		    <div class="loginOptions clearfix">
		      <div class="checkboxCont">
		        <!--<input type="checkbox" id="rememberMe" value="1" name="user_session[remember_me]">-->
		        <!--<label for="rememberMe">remember me on this computer</label>-->
                <%= f.label t(:remember_me) %>
                <%= f.check_box :remember_me %>
		      </div>
		    </div>
            <%= link_to url_for(@session), :id => 'loginBtn', :class => 'button login submitButton large' do %>
                <span><%= t(:login) %></span>
            <% end %>
		    <div class="clear"></div>
		    <div class="help">Забыли пароль? <a id="resetPasswordBtn" href="#">Востановить</a></div>
          <% end %>
          </div>



		  <div class="block padLeft35">
		   <div class="or wide">- ИЛИ -</div>
                <a href="/auth/vkontakte_ua" class="vk">
                    <div style=""></div>
                        В Контакте
                </a>

            ------
            <%= raw authlogic_facebook_login_button %>
          </div>

</div>

<style type="text/css">
  .padLeft35 a {
      -moz-transition-duration: 200ms;
    -moz-transition-property: all;
    border-radius: 5px 5px 5px 5px;
    display: inline-block;
    height: 31px;
    line-height: 31px;
    margin-left: 11px;
    position: relative;
  }
  .padLeft35 a div {
      height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  a.vk div {
      background: url("/images/auth.png") repeat scroll 0 -148px transparent;
  }
  a.vk {
      box-shadow: 0 0 0 #4D7199;
      width: 121px;
  }
  a.vk:hover {
      box-shadow: 0 0 5px #4D7199;
  }
  a.vk:active {
      box-shadow: 0 0 0 #4D7199;
  }

</style>






