
<div id="adminBar">
  <% if @current_user %>
      <ul class="curveBottom clearfix">
        <li id="inviteFriends">
			<g:plusone></g:plusone>
        </li>
        <li class="view">
        <%= link_to t(:profile), home_page %>
        </li>
        <li class="last">
          <%= link_to t(:logout), logout_path, :class => 'bold' %>
        </li>
      </ul>
  <% else %>
      <ul>

        <li><a href="/renter/"><%= t(:renter_search) %></a></li>
        <li class="login"><a class="login" href="/login"><%= t(:login) %></a></li>
        <li class="signup">
          <a class="signup" data-tagged-trac="sitewide-admin-bar|renter_signup" href="/registration">
            <strong><%= t(:register) %></strong> <span class="small">(это БЕСПЛАТНО!)</span>
          </a>
        </li>
      </ul>
  <% end %>
</div>

<div class="clear"></div>

<ul id="siteNav">
  <% if @current_user %>
      <li class = "<%= "active" if params[:action] == 'dashboard' %>">
        <%= link_to t(:renter_wall), dashboard_renter_index_path, :title => t(:renter_wall_description) %>
      </li>
      <li>
        <a id="offerTab" title="<%= t(:renter_correspondence) %>" href="/renter/contacts" class=" "><%= t(:renter_correspondence) %></a>
      </li>
      <li>
        <a title="<%= t(:renter_reviews_description) %>" href="/renter/reviews" class=" "><%= t(:renter_reviews) %></a>
      </li>
      <li>
        <a href="/renter/saved-searches" class=" "><%= t(:renter_saved_searches) %></a>
      </li>
      <li id="faves">
        <%= link_to '', favorites_renter_index_path %>
        <!--<a href="/renter/favorites">&nbsp;</a>-->
      </li>
      <li id="searchOpen" class="<%= 'active' if params[:action] == 'listings' %>">
        <%= link_to t(:renter_search), renter_index_path, :title => t(:renter_search), :class => "" %>
      </li>
      <li id="deals">
        <a href="/renter/comilffo-solutions"><span class="title"><%= t(:comilffo) %></span><%= t(:solutions) %></a></li>
  <% else %>
      <li><a class="infoModal cboxElement" href="#overviewModalContainer"><%= t(:renter_wall) %></a></li>
      <li id="faves"><a class="infoModal cboxElement" href="#favoritesModalContainer">&nbsp;</a></li>
      <li><a class="infoModal cboxElement" href="#reviewsModalContainer"><%= t(:renter_reviews) %></a></li>
      <li><a class="infoModal cboxElement" href="#savedSearchesModalContainer"><%= t(:renter_saved_searches) %></a></li>
      <li class="" id="searchOpen"><a href="/renter" class=" "><%= t(:renter_search) %></a></li>
  <% end %>
</ul>
