<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta name="MSSmartTagsPreventParsing" content="true" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>Пандора - проект "Живая база недвижимости" Киев.</title>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon" />

  <%= stylesheet_link_tag 'main.css', 'applesearch.css', 'css3buttons.css', 'reset.css' %>
  <%= stylesheet_link_tag '/fancybox/jquery.fancybox-1.3.4.css' %>
  <%= javascript_include_tag 'jquery.js', 'rails.js', 'application.js', 'applesearch.js', 'jcookie.js'%>
  <%= javascript_include_tag 'form', 'jquery.remotipart' %>
  <%= javascript_include_tag '/fancybox/jquery.fancybox-1.3.4.pack.js', '/fancybox/jquery.mousewheel-3.0.4.pack.js'%>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body>

<% if @user && @user.avatar.exists? %>
    <% user_attrs = "#{@user.login},#{@user.gender},#{@user.avatar.url(:small)},#{@user.id}" %>
<% else %>
    <% user_attrs = nil %>
<% end %>


    <div id="wrapper" data-user="<%= user_attrs %>" class="<%= controller_name + "_pandora" %>">
        <div class="page">
            <div id="errors">
              <div class="notices"><%= flash[:notice] %></div>
              <div class="alerts"><%= flash[:alert] %></div>
              <div class="warnings"><%= flash[:warning] %></div>
            </div>

        <div class="header">
          <!-- navigation -->
            <div class="w-nav clf">
                <ul class="nav-ul userbar-ul">
                    <li class="nav-li">
                        <dl class="nav-dl">

                            <!--<a class="nav-a" href="/users/new">Войти или Зарегистрироваться</a>-->
                                <%= render :partial => 'shared/header' %>


                        </dl>
                    </li>
                    <li class="nav-li">
                        <dl class="nav-dl">
                            <dt>
                                <a href="/favorites">
                                    <span id="favorites_counter" class="mhint mhint-big">0</span>
                                </a>
                            </dt>
                            <dd>
                                <a class="nav-a" href="/favorites">Избранное</a>
                            </dd>
                        </dl>
                    </li>
                </ul>
                <p class="nav-title">Недвижимость в рамках вашего бюджета</p>
                    <ul class="nav-ul clf">
                        <li id="basedata" class="nav-li selected">
                            <a class="nav-a" href="/">Базы данных<i class="tri"></i></a>
                        </li>
                        <li id="pubata" class="nav-li ">
                          <a class="nav-a" href="#">Айфонушка<i class="tri"></i></a>
                        </li>
                        <li id="forumdata" class="nav-li nav-li-l"> <%= render :partial => 'traffic/jam' %> </li>
                    </ul>
            </div>
        </div> <!-- END OF header -->
        
        <%= yield %>

        </div> <!-- END OF page -->
    </div> <!-- END OF wrapper -->

    <div id="opaco" class="hidden"></div>

    <div id="spinner" class="loading" style="display:none">
      <span>Загрузка..</span>
      <img width="" height="" src="/images/loading.gif" class="" alt=""> 
    </div>


</body>
</html>

<script>
    $(" span a.link_main").mouseenter(function(){
        $("span.sub_summer_main, span.sub_summer_main a").fadeIn(1000);
    });
     $("span.sub_summer_main").mouseleave(function(){
       setTimeout(function(){
           $("span.sub_summer_main").fadeOut();
       },250);
     });
    $("div#login_link a.signin_link").click(function(){
      $("div#login").fadeIn(1000);
    });
    $("div#login span.close_login").click(function(){
      $("div#login").fadeOut(1000);
    });

</script>
