<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta name="MSSmartTagsPreventParsing" content="true"/>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <title>Пандора - проект "Живая база недвижимости" Киев.</title>
  <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>

  <%#= stylesheet_link_tag 'main.css', 'applesearch.css', 'css3buttons.css', 'reset.css' %>
  <%= stylesheet_link_tag 'all_naked.css' %>
  <%= stylesheet_link_tag '/fancybox/jquery.fancybox-1.3.4.css' %>
  <%= javascript_include_tag 'jquery.js', 'jquery-ui.js', 'rails.js', 'application.js', 'all.js', 'renter.js' %>

  <%= javascript_include_tag 'form', 'jquery.remotipart' %>
  <%= javascript_include_tag '/fancybox/jquery.fancybox-1.3.4.pack.js', '/fancybox/jquery.mousewheel-3.0.4.pack.js' %>
  <%= yield :head %>
  <%= csrf_meta_tag %>
</head>
<body id="<%= @body %>" class="">
<div id="wrapper" data-user="">
  <div id="masthead">
    <div id="logo">
      <a title="Comilffo Apartments: Kiev apartment rentals" href="/">
        <!--<img border="0" alt="Naked Apartments: Search apartments for rent in New York City" src="/images/logo_inside.gif">-->
        <h1 style="font-family: Trebuchet MS; font-style: normal; color: whiteSmoke; font-weight: bold; font-size: 25px;">
          <span style="font-style: normal; font-variant: normal; font-weight: lighter;">c<span style="color:#f58a07">❦</span>milffo</span>
          apartments</h1>
      </a>
    </div>
    <%#= fb_connect_async_js %>
    <%= render :partial => "#{controller_name}/head" rescue nil %>

  </div>
  <%= yield %>
  <%= render :partial => "#{controller_name}/footer" rescue nil %>

  <span class="copyright">&copy; Copyright Comilffo Apartments 2011; Neighborhood data, &copy; 2011 Urban Mapping Inc.
        <br> <a class="hud" href="/about/fair-housing">Fair Housing and Equal Opportunity</a><span class="madeinNYC"> Made in New Kiev</span>
  </span>

</div>
<div id="feedback">
  <a rel="nofollow" href="/about/feedback_form" class="feedbackBox cboxElement"><img src="/images/buttons/feedback.gif"></a>
</div>

<div class="hidden"><!-- - - - OVERVIEW  - - - - - -->
  <div id="overviewModalContainer">
    <div style="width:590px; height:300px" class="standard pad" id="md_home">
      <div class="anon">
        <h1><a data-tagged-trac="sitewide-modal-overview-top|renter_signup" href="/renter/signup">Sign up</a> for your
          personal overview page!</h1>

        <div class="clearfix" id="middle">
        <span class="block" id="one">
          <strong>Messages</strong>
          We'll notify you when brokers &amp; landlords send you messages.
        </span>

        <span class="block" id="two">
        <strong>Favorites</strong>
        Quick access to apartments you've saved.
        </span>

        <span class="block" id="three">
          <strong>Suggestions</strong>
          Apartments we think you'll like, based on your profile.
        </span>
        </div>

        <div class="bottom curveBottom clearfix">
          <div class="block">
            <a data-tagged-trac="sitewide-modal-overview-bottom|renter_signup" class="button  large" href="/renter/signup"><span>Sign Up (it's FREE!)</span></a>

            <div class="clear"></div>
            <span class="block padTop5">Already have an account? <a href="/login">Log in</a></span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- - - - FAVES  - - - - - -->
  <div id="favoritesModalContainer">
    <div style="width:590px; height:400pxs" class="standard pad" id="md_faves">
      <div class="anon">
        <h1><a data-tagged-trac="sitewide-modal-faves-top|renter_signup" href="/renter/signup">Sign up</a> and save your
          favorite listings!</h1>

        <div class="clearfix" id="middle">
          <strong>Your favorite listings in one place!</strong>
          Click the heart, save the listing. Simple.
          Unsave the listing by clicking the heart again. Still simple.
        </div>

        <div class="bottom curveBottom clearfix">
          <div class="block">
            <a data-tagged-trac="sitewide-modal-faves-bottom|renter_signup" class="button  large" href="/renter/signup"><span>Sign Up (it's FREE!)</span></a>

            <div class="clear"></div>
            <span class="block padTop5">Already have an account? <a href="/login">Log in</a></span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- - - - SAVED SEARCHES  - - - - - -->
  <div id="savedSearchesModalContainer">
    <div style="width:590px; " class="standard pad" id="md_saved_searches">
      <div class="anon">
        <h1><a data-tagged-trac="sitewide-modal-saved-searches-top|renter_signup" href="/renter/signup">Sign up</a> and
          save your common searches !</h1>

        <div class="clearfix" id="middle">
          <strong>Save time; save your searches</strong>
          Save searches by neighborhood, price, amenities, whatever. No need to 'select' everything again.

        </div>


        <div class="bottom curveBottom clearfix">
          <div class="block">
            <a data-tagged-trac="sitewide-modal-saved-searches-bottom|renter_signup" class="button  large" href="/renter/signup"><span>Sign Up (it's FREE!)</span></a>

            <div class="clear"></div>
            <span class="block padTop5">Already have an account? <a href="/login">Log in</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- - - - REVIEWS  - - - - - -->
  <div id="reviewsModalContainer">
    <div style="width:590px;" class="standard pad" id="md_reviews">
      <div class="anon">
        <h1><a data-tagged-trac="sitewide-modal-saved-searches-top|renter_signup" href="/renter/signup">Sign up</a> to
          read (&amp; write) reviews of brokers!</h1>

        <div class="clearfix" id="middle">
          <strong>Know who you're dealing with</strong>
          Get honest feedback from other renters before you engage with a broker. And write your own reviews afterwards.

        </div>


        <div class="bottom curveBottom clearfix">
          <div class="block">
            <a data-tagged-trac="sitewide-modal-saved-searches-bottom|renter_signup" class="button  large" href="/renter/signup"><span>Sign Up (it's FREE!)</span></a>

            <div class="clear"></div>
            <span class="block padTop5">Already have an account? <a href="/login">Log in</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="anonymousFavoriteListingModal">
    <div style="width: 400px;" class="standard padWide clearfix" id="anonFaves">
      <div class="h1">Want to save this listing?</div>
      <p>Take 30 seconds to sign up and save all the listings you want.</p>

      <div class="bordered light clearfix">
        <div class="block marginTop5">
          <a data-tagged-trac="modal-favorite-listing|renter_signup" class="button  large" href="/renter/signup"><span>Sign Up (it's FREE)</span></a>
        </div>

        <a id="closeModal" class="bold block padTop20" href="#">No, thanks</a>
      </div>
      <a class="bold" href="/renter/how-it-works">Learn more</a> about Naked Apartments
    </div>
  </div>
</div>
</body>
</html>
