<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta name="MSSmartTagsPreventParsing" content="true"/>
  <meta name="DESCRIPTION" content="Недвижимость, продажа и аренда недвижимости, продажа квартир, аренда квартир, помещений, агентства недвижимости, жилье">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
  <meta content="text/html; charset=utf-8" http-equiv="Content-Type"/>
  <meta name='yandex-verification' content='5bee6ac1966ca225' />
  <title>Пандора - проект "Живая база недвижимости" Киев. Продажа и аренда недвижимости, продажа квартир, аренда
    квартир, помещений, агентства недвижимости</title>

  <link rel="icon" href="/images/favicon.ico" type="image/x-icon"/>

  <%= stylesheet_link_tag 'reset.css' %>
  <!--'main.css', 'applesearch.css', 'css3buttons.css',-->
  <%= stylesheet_link_tag 'all_naked.css' %>
  <%= stylesheet_link_tag '/fancybox/jquery.fancybox-1.3.4.css' %>
  <%= javascript_include_tag 'jquery-1.6.2', 'jquery-ui-1.8.16.custom.min', 'rails.js', 'application.js', 'all.js', 'renter.js' %>

  <%= javascript_include_tag 'form', 'jquery.remotipart' %>
  <%= javascript_include_tag '/fancybox/jquery.fancybox-1.3.4.pack.js', '/fancybox/jquery.mousewheel-3.0.4.pack.js' %>
  <%= yield :head %>
  <%= csrf_meta_tag %>

  <script type="text/javascript">
      //<![CDATA[
      var NA_CONFIG = {"user_type":"renter"};
      //]]>
  </script>
  <!--<script src="" type="text/javascript"></script>-->
  <script type="text/javascript">

      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-12535593-3']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script');
          ga.type = 'text/javascript';
          ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0];
          s.parentNode.insertBefore(ga, s);
      })();

  </script>
  <!--<script type="text/javascript"-->
      <!--src="http://maps.googleapis.com/maps/api/js?sensor=true">-->
  <!--</script>-->

</head>
<body id="<%= @body_id %>" class="<%= @body_class %>">
<div id="wrapper" data-user="">
  <div id="masthead">
    <div id="logo">
      <a title="Comilffo Apartments: Kiev apartment rentals" href="/">
        <img border="0" alt="Comilffo Аренда: поиск квартир для аренды в Киеве" src="/images/logo_comilffo.png">

      </a>
    </div>
    <%#= fb_connect_async_js %>
    <%= render :partial => "/layouts/head" if (controller_name == 'renter' || controller_name == 'rentall' ||controller_name == 'users') %>

  </div>
  <%= yield %>
  <%= render :partial => "#{controller_name}/footer" rescue nil %>

  <span class="copyright">&copy; Copyright Comilffo Apartments 2011; Neighborhood data, &copy; 2011 Urban Mapping Inc.
        <br> <a class="hud" href="/about/fair-housing">Fair Housing and Equal Opportunity</a><span class="madeinNYC"> Made in New Kiev</span>
  </span>

</div>
<div id="feedback">
  <a rel="nofollow" href="/about/feedback_form" class="feedbackBox cboxElement"><img src="/images/buttons/feedback.gif"></a>
  <%#= link_to "/about/feedback_form", :class => "feedbackBox cboxElement", :remote => true do %>
  <%# end %>
</div>



<div class="hidden"><!-- - - - OVERVIEW  - - - - - -->
  <div id="overviewModalContainer">
    <div style="width:590px;" class="standard pad" id="md_home">
      <div class="anon">
        <h1><a data-tagged-trac="sitewide-modal-overview-top|renter_signup" href="/registration">Регистрируйтесь</a>,
          чтобы видеть вашу стенку.</h1>

        <div class="clearfix" id="middle">
        <span class="block" id="one">
          <strong>Сообщения</strong>
          Мы напомним вам когда брокеры или арендаторы напишут сообщения для вас.
        </span>

        <span class="block" id="two">
        <strong>Закладки</strong>
        Быстрый доступ к объектам, которые вы отложили.
        </span>

        <span class="block" id="three">
          <strong>Предложения</strong>
          Объекты, которые, как нам кажется, могли бы вам подойти.
        </span>
        </div>

        <div class="bottom curveBottom clearfix">
          <div class="block">
            <a data-tagged-trac="sitewide-modal-overview-bottom|renter_signup" class="button  large" href="/renter/signup"><span><%= t(:register) %></span></a>

            <div class="clear"></div>
            <span class="block padTop5">Уже есть аккаунт? <a href="/login"><%= t(:login) %></a></span>
          </div>
        </div>

      </div>
    </div>
  </div>

  <!-- - - - FAVES  - - - - - -->
  <div id="favoritesModalContainer">
    <div style="width:590px; height:400pxs" class="standard pad" id="md_faves">
      <div class="anon">
        <h1><a data-tagged-trac="sitewide-modal-faves-top|renter_signup" href="/renter/signup">Регистрируйтесь</a> и
          сохраняйте
          ваши закладки!</h1>

        <div class="clearfix" id="middle">
          <strong>Все ваши закладки на одной странице!</strong>
          Нажмите на "сердце" - добавьте в закладки. Все просто.
          Убрать из закладок - нажмите на "сердце" еще раз. Снова просто.
        </div>

        <div class="bottom curveBottom clearfix">
          <div class="block">
            <a data-tagged-trac="sitewide-modal-faves-bottom|renter_signup" class="button  large" href="/registrations"><span><%= t(:register) %></span></a>

            <div class="clear"></div>
            <span class="block padTop5">Уже зарегистрированы? <a href="/login"><%= t(:login) %></a></span>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- - - - SAVED SEARCHES  - - - - - -->
  <div id="savedSearchesModalContainer">
    <div style="width:590px; " class="standard pad" id="md_saved_searches">
      <div class="anon">
        <h1>
          <a data-tagged-trac="sitewide-modal-saved-searches-top|renter_signup" href="/registration">Регистрируйтесь</a>
          и получите доступ к истории поиска !</h1>

        <div class="clearfix" id="middle">
          <strong>Не тратьте время зря, сохраните ваш поисковый запрос.</strong>
          Сохраните ваш запрос по цене, адресу, количеству комнат и т.д. Не нужно уточнять снова.

        </div>


        <div class="bottom curveBottom clearfix">
          <div class="block">
            <a data-tagged-trac="sitewide-modal-saved-searches-bottom|renter_signup" class="button  large" href="/registration"><span><%= t(:register) %></span></a>

            <div class="clear"></div>
            <span class="block padTop5">Уже зарегистрированы? <a href="/login"><%= t(:login) %></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- - - - REVIEWS  - - - - - -->
  <div id="reviewsModalContainer">
    <div style="width:590px;" class="standard pad" id="md_reviews">
      <div class="anon">
        <h1>Отзывы о брокерах!</h1>

        <div class="clearfix" id="middle">
          <strong>Узнайте с кем вы работаете!</strong>
          Получите самый свежий отзыв от других пользователей до того как вы начнете сотрудничать с брокером или сами
          напишите отзыв.</div>


        <div class="bottom curveBottom clearfix">
          <div class="block">
            <a data-tagged-trac="sitewide-modal-saved-searches-bottom|renter_signup" class="button  large" href="/registration"><span><%= t(:register) %></span></a>

            <div class="clear"></div>
            <span class="block padTop5">Уже есть аккаунт? <a href="/login"><%= t(:login) %></a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="anonymousFavoriteListingModal">
    <div style="width: 400px;" class="standard padWide clearfix" id="anonFaves">
      <div class="h1">Хотите сохранить этот поиск?</div>
      <p>30 секунд на регистрацию и сохраните все что захотите.</p>

      <div class="bordered light clearfix">
        <div class="block marginTop5">
          <a data-tagged-trac="modal-favorite-listing|renter_signup" class="button  large" href="/renter/signup"><span>Sign Up (it's FREE)</span></a>
        </div>

        <a id="closeModal" class="bold block padTop20" href="#">Нет, спасибо</a>
      </div>
      <a class="bold" href="/renter/how-it-works">Узнать больше</a> О комильфо.
    </div>
  </div>
</div>
</body>
</html>
